.back-cl-first{
    background-color: #1ABC9C;
}

.back-cl-second{
    background-color: #2C3E50;
}

.back-cl-third{
    background-color: #3A546D;
}

.back-cl-fourth{
    background-color: #2C3E50;
}

li{
    padding-right: 2rem;
}