li{
    padding-right: 2rem;
}

p{
    font-weight: 500;
    font-size: 19px;
}

.pos-rel{
    position: relative;
}

.gap-primary{
    gap: 1rem;
}

.back-cl-first{
    background-color: #1ABC9C;
}

.back-cl-second{
    background-color: #2C3E50;
}

.back-cl-third{
    background-color: #3A546D;
}

.back-cl-fourth{
    background-color: #2C3E50;
}

.back-cl-fifth{
    background-color: white;
}

.txt-cl{
    color: #1ABC9C;
}

.section-title{
    font-size: 48px;
    font-weight: 500;
}

.line-star-line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    min-height: 4px;
    min-width: 140px;
    border-radius: 4px;
}

.my-card{
    padding-bottom: 2rem;
}

.my-card img{
    border-radius: 10px;
}

.download{
    width: 16px;
    vertical-align: initial;
}

.star{
    width: 35px;
}

.avatar{
    width: 200px;
}

.my-img{
    width: 100%;
}

.my-label{
    font-weight: 500;
    z-index: 2;
} 

.my-input.form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ced4da;
    bottom: 35px;
}

.my-btn-send.btn-primary {
    background-color: #1ABC9C;
    border: #1ABC9C;
    font-weight: 500;
}

.my-btn-download.btn-outline-light{
    font-weight: 500;
}

.my-form{
    height: 50px;
}

#message{
    height: 120px;
}

.facebook-icon{
    width: 12px;
}

.google-icon{
    width: 25px;
}

.twitter-icon{
    width: 20px;
}

.linkedin-icon{
    width: 17px;
}

.copy-icon{
    width: 13px;
}

.my-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    flex-shrink: 0;
}

.burger-menu svg{
    width: 20px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
}

.burger-menu{
    display: none;
    border: 1px solid white;
    border-radius: 5px;
    width: 50px;
    height: 40px;
}

@media screen and (max-width: 768px) {
    .menu{
        display: none;
    }

    .burger-menu{
        display: block;
    }
}